@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 263 35% 99%;
    --foreground: 263 52% 3%;
    --muted: 233 7% 88%;
    --muted-foreground: 233 1% 30%;
    --popover: 263 35% 99%;
    --popover-foreground: 263 52% 3%;
    --card: 263 35% 98%;
    --card-foreground: 263 52% 2%;
    --border: 263 14% 91%;
    --input: 263 14% 91%;
    --primary: 263 87% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 233 87% 56%;
    --secondary-foreground: 0 0% 100%;
    --accent: 240 4.76% 95.88%;
    --accent-foreground: 262.5 50% 3.14%;
    --destructive: 14 100% 34%;
    --destructive-foreground: 0 0% 100%;
    --ring: 263 87% 56%;
    --chart-1: 263 87% 56%;
    --chart-2: 233 87% 56%;
    --chart-3: 293 87% 56%;
    --chart-4: 233 87% 59%;
    --chart-5: 263 90% 56%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 263 55% 2%;
    --foreground: 263 24% 99%;
    --muted: 233 7% 12%;
    --muted-foreground: 233 1% 70%;
    --popover: 263 55% 2%;
    --popover-foreground: 263 24% 99%;
    --card: 263 55% 3%;
    --card-foreground: 0 0% 100%;
    --border: 263 14% 10%;
    --input: 263 14% 10%;
    --primary: 263 87% 56%;
    --primary-foreground: 0 0% 100%;
    --secondary: 233 87% 56%;
    --secondary-foreground: 0 0% 100%;
    --accent: 240 3.7% 15.88%;
    --accent-foreground: 0 0% 100%;
    --destructive: 14 100% 56%;
    --destructive-foreground: 0 0% 0%;
    --ring: 263 87% 56%;
    --chart-1: 263 87% 56%;
    --chart-2: 233 87% 56%;
    --chart-3: 293 87% 56%;
    --chart-4: 233 87% 59%;
    --chart-5: 263 90% 56%;
  }
}
  
  

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 2rem;
  padding-left: 2rem;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
